<!DOCTYPE <!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="/css/style.css">
    <title>about Page Title</title>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/images/ramlodhi.jpg" alt="My_Logo">
        <p>The website is created by Ram Lodhi, it takes location details from mapbox API and whether info from
            blacksky. You can get whether info for any location with help of this application.
        </p>
    </div>
    {{>footer}}
</body>

</html>