<!DOCTYPE <!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/css/style.css">
    <title>help Page Title</title>

</head>
<body> 
    <div class="main-content">
    {{>header}}
    <p>For any help please reach out to me at ramaasre@outlook.com or connect on https://www.linkedin.com/in/ram-lodhi/</p>
    </div>
    {{>footer}}
</body>
</html>